%form{ :action => "/", :method => "post"}
  %fieldset
    %li
      %label{:for => "username"} Username:
      %input{:type => "text", :name => "username", :class => "text"}
    %input{:type => "submit", :value => "Send", :class => "button"}

- if @languages
  = @languages