%form{ :action => "/", :method => "post"}
  %fieldset
    %li
      %label{:for => "user"} User:
      %input{:type => "text", :name => "user", :class => "text"}
    %input{:type => "submit", :value => "Send", :class => "button"}